body {
    background: #c88a36;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    letter-spacing: normal;
}

/* Estilos para o contêiner principal */
.container {
    text-align: center;
    background: #c88a36;
    background-size: cover;
    background-position: center;
    padding: 15px;
    width: 70%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-around;
    justify-content: center;
    gap: 10px; /* Adiciona um espaçamento uniforme */
    margin: 10px 0 10px 0;
}

.carousel-slide img {
    height: 213px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-slide video {
    height: 213px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para a imagem de perfil */
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilos para o título */
h1 {
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    color: #F2EFEB;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    font-size: 14px;
    font-weight: 550;
    color: #F2EFEB;
    margin: 0;
}

.heading-modal h2 {
    font-family: "Montserrat", serif;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #470713;
}

.heading-modal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #470713;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 10px 0px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links a {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    background: linear-gradient(to right, #fff, #f2efeb);
    color: #470713;
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    transition: background 0.3s;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.4);
}

.custom-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -10px;
}

.custom-button span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Evita quebra de linha */
}

.links a:active {
    background: linear-gradient(to right, #ddd, #e6e6e6);
}

/* Estilos para o modal */
.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Estilos para o conteúdo do modal */
.modal-content {
    width: 80%;
    max-width: 400px;
    margin: 15% auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #F2E5D7;
    border: 1px solid #000;
    text-align: center;
}

/* Animação para o modal */
.modal-content {
    animation: anim-modal 0.3s ease-out;
}

@keyframes anim-modal {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

/* Estilos para o formulário de contato */
#contactForm {
    display: block;
}

/* Estilos para os controles do formulário */
.form-control {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #fff, #f2ebe6);
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.4);
    color: #764b36;
    font-family: "Montserrat", serif;
    font-size: medium;
}

.form-control::placeholder {
    color: #764b36;
    opacity: 1;
    font-family: "Montserrat", serif;
}

/* Estilos para o botão de chamada para ação */
.cta-button {
    background-color: #9b4922;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

/* Estilos para o botão de fechar o modal */
.close {
    color: #9b4922;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries para responsividade */
@media (max-width: 800px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    .modal-content {
        width: 65%;
        position: fixed;
    }

    .heading-modal h2 {
        margin: 0 0 0 8px;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .container {
        min-height: 100vh;
        width: 90%;
        padding: 150px 10px 10px 10px;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 12px;
    }

    .modal-content {
        width: 65%;
        position: fixed;
    }

    .heading-modal h2 {
        margin: 0 0 0 8px;
        font-size: 16px;
    }
}