body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #c88a36;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 105dvh;
    margin: 0;
    letter-spacing: normal;
}

@font-face {
    font-family: 'RocaOneRegular';
    src: url('/assets/font/roca-one-regular.ttf') format('truetype');
}

/* Estilos para o contêiner principal */
.container {
    text-align: center;
    background: #c88a36;
    background-size: cover;
    background-position: center;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto !important;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-around;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0 10px 0;
}

.carousel-slide img {
    height: 200px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-slide video {
    height: 210px;
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
}

/* Estilos para a imagem de perfil */
.profile-img {
    width: 120px;
    height: 120px;
    margin: auto;
    object-fit: cover;
    margin-top: 1rem !important;
    padding-bottom: 12px !important;
}

/* Estilos para o título */
h1 {
    font-family: "RocaOneRegular", serif;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    color: #F2EFEB;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    font-family: "RocaOneRegular", serif;
    font-size: 14px;
    font-weight: 550;
    color: #F2EFEB;
    margin: 0;
}

.modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 0px 10px 0px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links a {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    background: linear-gradient(to right, #fff, #f2efeb);
    color: #470713;
    padding: 10px 20px;
    margin: 16px 0;
    border-radius: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: background 0.3s;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.4);
}

.modal-links a {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    background: #c88a36;
    color: #fff;
    padding: 12px 24px;
    margin: 0 0 16px 0;
    border-radius: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: background 0.3s;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.custom-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -10px;
}

.custom-button span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Evita quebra de linha */
}

.custom-button-modal span {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Evita quebra de linha */
}

.links a:active {
    background: linear-gradient(to right, #ddd, #e6e6e6);
}

/* Estilos para o modal */
.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Estilos para o conteúdo do modal */
.modal-content {
    width: 80%;
    max-width: 400px;
    margin: 15% auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #fff, #f2efeb);
    border: 1px solid #000;
    text-align: center;
}

/* Animação para o modal */
.modal-content {
    animation: anim-modal 0.3s ease-out;
}

@keyframes anim-modal {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

/* Estilos para o formulário de contato */
#contactForm {
    display: block;
}

/* Estilos para o botão de fechar o modal */
.close {
    color: #9b4922;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries para responsividade */
@media (min-width: 801px) {
    .carousel-slide video {
        height: 230px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .profile-img {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    .modal-content {
        width: 65%;
        position: fixed;
    }

    .heading-modal h2 {
        margin: 0 0 0 8px;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    main {
        min-height: 134dvh;
    }

    .container {
        min-height: 100vh;
        width: 90%;
        padding: 10px;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    .links a {
        font-size: 14px
    }

    .modal-content {
        width: 65%;
        position: fixed;
    }

    .heading-modal h2 {
        margin: 0 0 0 8px;
        font-size: 16px;
    }
}